.timer-input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .timer-input-section input {
    width: 50px;
    margin: 0 10px;
    text-align: center;
    padding: 5px;
  }
  
  .timer-input-section button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  